/* src/components/Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #80a6d5, #f1f3f7); /* Gradient background */
    font-family: 'Arial', sans-serif;
}

.login-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    border-color: #2575fc;
    outline: none;
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2575fc;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #1d63e1;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

.forgot-password {
    color: #2575fc;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
